<form action="/authors"

      method="post"
      style="border: 1px solid red; width: 250px; background: antiquewhite; padding: 20px"
>

    <%- include('_form_fields.ejs') %>
    <a href="/authors">Cancel</a>
    <button type="submit"> Create Post User</button>

</form>