<header>
    <style>
        a{
            text-decoration: none;
        }
    </style>
    <nav>
        <a href="/">
            <h1>Mybrary</h1>
        </a>
        <ul>
            <li class="my-2" ><a class="border border-info rounded  p-1" href="/authors">authors</a></li>
            <li class="my-2" ><a class="border border-info rounded  p-1" href="/authors/new"> New Authors</a></li>
            <li class="my-2" ><a class="border border-info rounded  p-1" href="/books"> books </a></li>
            <li class="my-2" ><a class="border border-info rounded  p-1" href="/books/new"> New book</a></li>
        </ul>
    </nav>
</header>