<h2>
    Search In users
</h2>
<form action="" method="get"

      class="alert alert-danger"
>
    <div class="form-row">

        <label for="name">Name</label>

        <input
                style="margin: 5px; padding: 5px; border-radius: 5px;outline: none; border: 1px solid white"
                type="text"
                id="name"
                name="name"
                value="<%= searchOptions %>"
        >
        <button class="btn btn-success" type="submit"> search</button>
    </div>
</form>
<br>
<% authors.forEach(author=>{ %>
    <div> <%= author.name %></div>
<% }) %>